<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>fiber-layout-mvc</title>
    <link rel="icon" type="image/svg+xml" href="https://pan.nuzn.cn/v1/download?path=/image/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="https://pan.nuzn.cn/v1/download?path=/zui/1.10.0/css/zui.min.css">
</head>
<style>
    html,
    body,
    .container {
        height: 100%;
    }
</style>

<body>
    <div class="container">
        {{embed}}
    </div>
    <!-- ZUI Javascript 依赖 jQuery -->
    <script src="https://pan.nuzn.cn/v1/download?path=/jquery/3.63/jquery-3.6.3.min.js"></script>
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script src="https://pan.nuzn.cn/v1/download?path=/zui/1.10.0/js/zui.min.js"></script>
</body>

</html>